<a href="https://colab.research.google.com/github/eliot28/desafioLatam/blob/main/Tutoria_4_python_g91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo_academia.png]()

<center><h1>  <font color='green'> Guía de estudio N°2 - Tipos y estructuras de datos (Parte II)</font></h1></center>
<hr>

😀¡Hola! Te damos la bienvenida a esta nueva guía de estudio.


## <font color='green'>¿En qué consiste esta guía?</font>
La siguiente guía de estudio tiene como objetivo que puedas revisar lo abordado en clases, variando los parámetros cuando corresponda para que puedas observar el efecto de estas modificaciones.

<center>

![cohete.png]()

</center>

<center> <strong>¡Vamos con todo!</strong> </center>

## <font color='green'>Tabla de contenidos</font>

1. Introducción a los DataFrames
    - Indices de filas y columnas
    - Creación de DataFrames
    - Operaciones y métodos
    - Combinación de DataFrames

2. Explorando un DataFrame
3. Orden, Ranking e indexación de un DataFrame

<center>

![comencemos.png]()

</center>

<center> <font color='green'> <strong>¡Comencemos!</strong></font> </center>

 # <font color='green'>Introducción a los DataFrames</font>

Un DataFrame de Pandas es una estructura de datos tabular que se compone de filas y columnas.

In [5]:
import pandas as pd
df = pd.read_csv("resumen_resultados_astronautas.csv")

In [4]:
df

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,María Juderías,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si
9,María José Franco,29,70,175,87,90,80,89,2,No
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si
11,Alberto Graciani,28,62,163,81,93,77,85,5,No
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si
15,Pablo Capmany,29,69,171,82,94,80,88,4,No
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No
17,Daniel Sánchez,26,63,167,80,93,78,85,4,No
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si
19,José París,40,68,163,78,85,85,77,8,No
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si
22,Óliver Fonseca,38,80,164,77,88,90,89,9,No
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si
24,Álvaro Espina,30,76,180,90,84,87,82,4,Si
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No
26,Fernando Gálvez,25,72,168,88,88,89,83,2,Si
27,Sophie González,36,75,176,85,82,84,80,7,No
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si
29,Fátima Varela,33,73,182,91,90,91,88,5,Si
30,Clara Arias,44,63,162,77,87,88,84,11,No
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si

In [6]:
print(df)

                  nombre  edad  peso  altura  evaluacion_fisica  \
0          Alana Morillo    32    75     180                 93
1         Fátima Tafalla    27    68     167                 82
2             Sofía Puig    29    80     185                 85
3        Valentina Tasis    30    65     175                 90
4         Regina Cicerón    31    76     183                 89
5       Amaya de la Cruz    26    64     170                 80
6         María Juderías    28    78     182                 88
7          Perla Alcocer    30    71     168                 86
8      Consuela Arboleda    33    77     188                 94
9      María José Franco    29    70     175                 87
10        Emanuel Gálvez    27    73     181                 84
11      Alberto Graciani    28    62     163                 81
12  Patricio Encarnación    30    81     190                 93
13    Cristóbal Miralles    31    72     174                 88
14         Pablo Cotilla    27    75     178                 86
15         Pablo Capmany    29    69     171                 82
16      Nicolás Cambeiro    29    68     175                 88
17        Daniel Sánchez    26    63     167                 80
18         Samuel Gálvez    22    74     183                 91
19            José París    40    68     163                 78
20          Kevin Pareja    27    61     177                 85
21  Estefania Manzanares    31    79     179                 89
22        Óliver Fonseca    38    80     164                 77
23  Christopher Berganza    23    70     173                 92
24         Álvaro Espina    30    76     180                 90
25      Leonardo Magrina    39    65     171                 79
26       Fernando Gálvez    25    72     168                 88
27       Sophie González    36    75     176                 85
28           Alexia Gaos    21    69     169                 93
29         Fátima Varela    33    73     182                 91
30           Clara Arias    44    63     162                 77
31       Paloma Berganza    28    62     174                 87

    evaluacion_psicologica  evaluacion_adaptativa  evaluacion_medica  \
0                       88                     78                 89
1                       95                     81                 87
2                       80                     90                 91
3                       91                     85                 92
4                       87                     83                 90
5                       94                     79                 86
6                       85                     87                 92
7                       92                     82                 88
8                       83                     89                 93
9                       90                     80                 89
10                      89                     84                 87
11                      93                     77                 85
12                      86                     88                 91
13                      91                     86                 92
14                      87                     85                 89
15                      94                     80                 88
16                      90                     81                 90
17                      93                     78                 85
18                      91                     91                 86
19                      85                     85                 77
20                      90                     87                 79
21                      82                     85                 81
22                      88                     90                 89
23                      93                     92                 85
24                      84                     87                 82
25                      92                     90                 85
26                      88                     89                 83
27                      82                     84                 80
28                      94                     93                 86
29                      90                     91                 88
30                      87                     88                 84
31                      85                     87                 78

    anos_experiencia califica
0                  6       Si
1                  4       Si
2                  3       Si
3                  2       No
4                  7       Si
5                  4       No
6                  5       Si
7                  3       No
8                  8       Si
9                  2       No
10                 3       Si
11                 5       No
12                 4       Si
13                 6       No
14                 2       Si
15                 4       No
16                 2       No
17                 4       No
18                 3       Si
19                 8       No
20                 2       Si
21                 5       Si
22                 9       No
23                 1       Si
24                 4       Si
25                 8       No
26                 2       Si
27                 7       No
28                 0       Si
29                 5       Si
30                11       No
31                 3       Si

Si no queremos que se muestre todo el DataFrame (porque podría ser excesivamente largo), podemos usar el método **head()**, que por defecto nos mostrará las primeras 5 filas.

In [7]:
df.head()

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si

Si queremos ver más filas, podemos indicarlo como se muestra.

In [8]:
df.dtypes ## para ver los formatos de las columnas

nombre                    object
edad                       int64
peso                       int64
altura                     int64
evaluacion_fisica          int64
evaluacion_psicologica     int64
evaluacion_adaptativa      int64
evaluacion_medica          int64
anos_experiencia           int64
califica                  object
dtype: object

In [9]:
df.head(n=9)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,María Juderías,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si

In [10]:
df.head(15)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,María Juderías,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si
9,María José Franco,29,70,175,87,90,80,89,2,No
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si
11,Alberto Graciani,28,62,163,81,93,77,85,5,No
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si

## <font color='green'> Índices de filas y columnas</font>

Cada columna del DataFrame tiene una etiqueta o nombre que la identifica, mientras que cada fila puede o no tener una etiqueta que la identifique.

<center>
<img src="https://files.realpython.com/media/fig-1.d6e5d754edf5.png" width="500">

</center>


El índice es un objeto que se encuentra en el atributo index de un DataFrame. Pueden ser numéricos, etiquetas, fechas, horas, entre otros. Cuando hablamos de índice, podemos referirnos a las etiquetas o a las posiciones de fila o columna. Por defecto, Pandas considerará el número de fila, tomando en cuenta la forma en que se ha generado. Por ejemplo:

In [11]:
df.index

RangeIndex(start=0, stop=32, step=1)

In [12]:
len(df)

32

In [13]:
df

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,María Juderías,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si
9,María José Franco,29,70,175,87,90,80,89,2,No
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si
11,Alberto Graciani,28,62,163,81,93,77,85,5,No
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si
15,Pablo Capmany,29,69,171,82,94,80,88,4,No
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No
17,Daniel Sánchez,26,63,167,80,93,78,85,4,No
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si
19,José París,40,68,163,78,85,85,77,8,No
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si
22,Óliver Fonseca,38,80,164,77,88,90,89,9,No
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si
24,Álvaro Espina,30,76,180,90,84,87,82,4,Si
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No
26,Fernando Gálvez,25,72,168,88,88,89,83,2,Si
27,Sophie González,36,75,176,85,82,84,80,7,No
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si
29,Fátima Varela,33,73,182,91,90,91,88,5,Si
30,Clara Arias,44,63,162,77,87,88,84,11,No
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si

Observa que, si queremos averiguar cuáles son nuestras columnas, basta usar un sencillo comando:

In [16]:
df.columns

Index(['nombre', 'edad', 'peso', 'altura', 'evaluacion_fisica',
       'evaluacion_psicologica', 'evaluacion_adaptativa', 'evaluacion_medica',
       'anos_experiencia', 'califica'],
      dtype='object')

In [16]:
df.head()

len(df)

df.dtypes

df.columns

TypeError: 'Index' object is not callable

### <font color='green'>Elegir una columna como índice de filas</font>

El método **set_index()** nos permite establecer una columna existente como índice. Al hacerlo, la quita de las columnas del DataFrame.

In [20]:
df = df.set_index('nombre')
df.head()

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Alana Morillo,32,75,180,93,88,78,89,6,Si
Fátima Tafalla,27,68,167,82,95,81,87,4,Si
Sofía Puig,29,80,185,85,80,90,91,3,Si
Valentina Tasis,30,65,175,90,91,85,92,2,No
Regina Cicerón,31,76,183,89,87,83,90,7,Si

In [21]:
df = df.set_index('edad')
df.head()

,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
edad,,,,,,,,
32,75,180,93,88,78,89,6,Si
27,68,167,82,95,81,87,4,Si
29,80,185,85,80,90,91,3,Si
30,65,175,90,91,85,92,2,No
31,76,183,89,87,83,90,7,Si

In [22]:
df = pd.read_csv("resumen_resultados_astronautas.csv")
df = df.set_index('nombre')
df.head()

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Alana Morillo,32,75,180,93,88,78,89,6,Si
Fátima Tafalla,27,68,167,82,95,81,87,4,Si
Sofía Puig,29,80,185,85,80,90,91,3,Si
Valentina Tasis,30,65,175,90,91,85,92,2,No
Regina Cicerón,31,76,183,89,87,83,90,7,Si

In [23]:
df.index

Index(['Alana Morillo', 'Fátima Tafalla', 'Sofía Puig', 'Valentina Tasis',
       'Regina Cicerón', 'Amaya de la Cruz', 'María Juderías', 'Perla Alcocer',
       'Consuela Arboleda', 'María José Franco', 'Emanuel Gálvez',
       'Alberto Graciani', 'Patricio Encarnación', 'Cristóbal Miralles',
       'Pablo Cotilla', 'Pablo Capmany', 'Nicolás Cambeiro', 'Daniel Sánchez',
       'Samuel Gálvez', 'José París', 'Kevin Pareja', 'Estefania Manzanares',
       'Óliver Fonseca', 'Christopher Berganza', 'Álvaro Espina',
       'Leonardo Magrina', 'Fernando Gálvez', 'Sophie González', 'Alexia Gaos',
       'Fátima Varela', 'Clara Arias', 'Paloma Berganza'],
      dtype='object', name='nombre')

Podemos revertir lo anterior con el siguiente comando:

In [24]:
df = df.reset_index()
df.head()

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si

In [ ]:
df = df.set_index('nombre') # devolvemos a lo anterior, para seguir trabajando

![manos.png]()**¡Manos a la obra!**

Utilizando el dataset **nobel_latest.csv:**



1.   Cárgalo a un dataset, llamado premios_Nobel
2.   Genera la lista de columnas que contiene.
3.   Muestra los 10 primeros elementos del DataFrame.
4.   Re indexalo según una columna. ¿Cuál es la más lógica de escoger?

In [42]:
premios_Nobel = pd.read_csv(r'nobel_latest.csv')
premios_Nobel.head(5)

,Year,Laureate_Id,Firstname,Lastname,Category,Gender,Prize_Share,Motivation,Birth_Date,Birth_Country,Birth_City,Birth_Country_Code,Death_Date,Death_Country,Death_City,Death_Country_Code,Organization_Name,Organization_City,Organization_Country,Unnamed: 19
0,1901,1,Wilhelm Conrad,Röntgen,physics,male,1,"""in recognition of the extraordinary services ...",1845-03-27,Prussia (now Germany),Lennep (now Remscheid),DE,10-02-1923,Germany,Munich,DE,Munich University,Munich,Germany,NaN
1,1901,293,Emil,von Behring,medicine,male,1,"""for his work on serum therapy especially its ...",1854-03-15,Prussia (now Poland),Hansdorf (now Lawice),PL,31-03-1917,Germany,Marburg,DE,Marburg University,Marburg,Germany,NaN
2,1901,462,Henry,Dunant,peace,male,2,"""for his humanitarian efforts to help wounded ...",1828-05-08,Switzerland,Geneva,CH,30-10-1910,Switzerland,Heiden,CH,NaN,NaN,NaN,NaN
3,1901,463,Frédéric,Passy,peace,male,2,"""for his lifelong work for international peace...",1822-05-20,France,Paris,FR,12-06-1912,France,Paris,FR,NaN,NaN,NaN,NaN
4,1901,569,Sully,Prudhomme,literature,male,1,"""in special recognition of his poetic composit...",1839-03-16,France,Paris,FR,07-09-1907,France,Châtenay,FR,NaN,NaN,NaN,NaN

In [43]:
premios_Nobel.columns

Index(['Year', 'Laureate_Id', 'Firstname', 'Lastname', 'Category', 'Gender',
       'Prize_Share', 'Motivation', 'Birth_Date', 'Birth_Country',
       'Birth_City', 'Birth_Country_Code', 'Death_Date', 'Death_Country',
       'Death_City', 'Death_Country_Code', 'Organization_Name',
       'Organization_City', 'Organization_Country', 'Unnamed: 19'],
      dtype='object')

In [44]:
premios_Nobel.head(10)

,Year,Laureate_Id,Firstname,Lastname,Category,Gender,Prize_Share,Motivation,Birth_Date,Birth_Country,Birth_City,Birth_Country_Code,Death_Date,Death_Country,Death_City,Death_Country_Code,Organization_Name,Organization_City,Organization_Country,Unnamed: 19
0,1901,1,Wilhelm Conrad,Röntgen,physics,male,1,"""in recognition of the extraordinary services ...",1845-03-27,Prussia (now Germany),Lennep (now Remscheid),DE,10-02-1923,Germany,Munich,DE,Munich University,Munich,Germany,NaN
1,1901,293,Emil,von Behring,medicine,male,1,"""for his work on serum therapy especially its ...",1854-03-15,Prussia (now Poland),Hansdorf (now Lawice),PL,31-03-1917,Germany,Marburg,DE,Marburg University,Marburg,Germany,NaN
2,1901,462,Henry,Dunant,peace,male,2,"""for his humanitarian efforts to help wounded ...",1828-05-08,Switzerland,Geneva,CH,30-10-1910,Switzerland,Heiden,CH,NaN,NaN,NaN,NaN
3,1901,463,Frédéric,Passy,peace,male,2,"""for his lifelong work for international peace...",1822-05-20,France,Paris,FR,12-06-1912,France,Paris,FR,NaN,NaN,NaN,NaN
4,1901,569,Sully,Prudhomme,literature,male,1,"""in special recognition of his poetic composit...",1839-03-16,France,Paris,FR,07-09-1907,France,Châtenay,FR,NaN,NaN,NaN,NaN
5,1901,160,Jacobus H.,van 't Hoff,chemistry,male,1,"""in recognition of the extraordinary services ...",1852-08-30,the Netherlands,Rotterdam,NL,01-03-1911,Germany,Berlin,DE,Berlin University,Berlin,Germany,NaN
6,1902,161,Emil,Fischer,chemistry,male,1,"""in recognition of the extraordinary services ...",1852-10-09,Prussia (now Germany),Euskirchen,DE,15-07-1919,Germany,Berlin,DE,Berlin University,Berlin,Germany,NaN
7,1902,571,Theodor,Mommsen,literature,male,1,"""the greatest living master of the art of hist...",1817-11-30,Schleswig (now Germany),Garding,DE,01-11-1903,Germany,Charlottenburg,DE,NaN,NaN,NaN,NaN
8,1902,465,Albert,Gobat,peace,male,2,"""for his eminently practical administration of...",1843-05-21,Switzerland,Tramelan,CH,16-03-1914,Switzerland,Bern,CH,NaN,NaN,NaN,NaN
9,1902,464,Élie,Ducommun,peace,male,2,"""for his untiring and skilful directorship of ...",1833-02-19,Switzerland,Geneva,CH,07-12-1906,Switzerland,Bern,CH,NaN,NaN,NaN,NaN

In [45]:
## saber si una columna esta duplicada

premios_Nobel['Laureate_Id'].value_counts()

Laureate_Id
482     3
217     2
222     2
515     2
66      2
       ..
227     1
226     1
77      1
634     1
1023    1
Name: count, Length: 981, dtype: int64

In [47]:
premios_Nobel['Laureate_Id'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
984    False
985     True
986    False
987    False
988    False
Name: Laureate_Id, Length: 989, dtype: bool

In [46]:
premios_Nobel['Laureate_Id'].duplicated().sum()

8

In [48]:
premios_Nobel = premios_Nobel.set_index('Laureate_Id')

In [49]:
premios_Nobel.head(5)

,Year,Firstname,Lastname,Category,Gender,Prize_Share,Motivation,Birth_Date,Birth_Country,Birth_City,Birth_Country_Code,Death_Date,Death_Country,Death_City,Death_Country_Code,Organization_Name,Organization_City,Organization_Country,Unnamed: 19
Laureate_Id,,,,,,,,,,,,,,,,,,,
1,1901,Wilhelm Conrad,Röntgen,physics,male,1,"""in recognition of the extraordinary services ...",1845-03-27,Prussia (now Germany),Lennep (now Remscheid),DE,10-02-1923,Germany,Munich,DE,Munich University,Munich,Germany,NaN
293,1901,Emil,von Behring,medicine,male,1,"""for his work on serum therapy especially its ...",1854-03-15,Prussia (now Poland),Hansdorf (now Lawice),PL,31-03-1917,Germany,Marburg,DE,Marburg University,Marburg,Germany,NaN
462,1901,Henry,Dunant,peace,male,2,"""for his humanitarian efforts to help wounded ...",1828-05-08,Switzerland,Geneva,CH,30-10-1910,Switzerland,Heiden,CH,NaN,NaN,NaN,NaN
463,1901,Frédéric,Passy,peace,male,2,"""for his lifelong work for international peace...",1822-05-20,France,Paris,FR,12-06-1912,France,Paris,FR,NaN,NaN,NaN,NaN
569,1901,Sully,Prudhomme,literature,male,1,"""in special recognition of his poetic composit...",1839-03-16,France,Paris,FR,07-09-1907,France,Châtenay,FR,NaN,NaN,NaN,NaN

In [50]:
premios_Nobel=premios_Nobel.reset_index()
premios_Nobel

,Laureate_Id,Year,Firstname,Lastname,Category,Gender,Prize_Share,Motivation,Birth_Date,Birth_Country,Birth_City,Birth_Country_Code,Death_Date,Death_Country,Death_City,Death_Country_Code,Organization_Name,Organization_City,Organization_Country,Unnamed: 19
0,1,1901,Wilhelm Conrad,Röntgen,physics,male,1,"""in recognition of the extraordinary services ...",1845-03-27,Prussia (now Germany),Lennep (now Remscheid),DE,10-02-1923,Germany,Munich,DE,Munich University,Munich,Germany,NaN
1,293,1901,Emil,von Behring,medicine,male,1,"""for his work on serum therapy especially its ...",1854-03-15,Prussia (now Poland),Hansdorf (now Lawice),PL,31-03-1917,Germany,Marburg,DE,Marburg University,Marburg,Germany,NaN
2,462,1901,Henry,Dunant,peace,male,2,"""for his humanitarian efforts to help wounded ...",1828-05-08,Switzerland,Geneva,CH,30-10-1910,Switzerland,Heiden,CH,NaN,NaN,NaN,NaN
3,463,1901,Frédéric,Passy,peace,male,2,"""for his lifelong work for international peace...",1822-05-20,France,Paris,FR,12-06-1912,France,Paris,FR,NaN,NaN,NaN,NaN
4,569,1901,Sully,Prudhomme,literature,male,1,"""in special recognition of his poetic composit...",1839-03-16,France,Paris,FR,07-09-1907,France,Châtenay,FR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,1011,2022,Svante,Pääbo,medicine,male,1,"""for his discoveries concerning the genomes of...",20-04-1955,Sweden,Stockholm,SE,0000-00-00,NaN,NaN,NaN,Max Planck Institute for Evolutionary Anthropo...,Leipzig,Germany,NaN
985,743,2022,Barry,Sharpless,chemistry,male,3,"""for the development of click chemistry and bi...",28-04-1941,USA,Philadelphia PA,US,0000-00-00,NaN,NaN,NaN,Scripps Research,La Jolla CA,USA,NaN
986,1022,2022,Douglas,Diamond,economics,male,3,"""for research on banks and financial crises""",25-10-1953,USA,Chicago IL,US,0000-00-00,NaN,NaN,NaN,University of Chicago,Chicago IL,USA,NaN
987,1015,2022,Carolyn,Bertozzi,chemistry,female,3,"""for the development of click chemistry and bi...",10-10-1966,USA,Boston MA,US,0000-00-00,NaN,NaN,NaN,Stanford University,Stanford CA,USA,NaN
988,1023,2022,Philip,Dybvig,economics,male,3,"""for research on banks and financial crises""",22-05-1955,USA,Gainesville FL,US,0000-00-00,NaN,NaN,NaN,Washington University,St. Louis MO,USA,NaN

##  <font color='green'>Creación de DataFrames</font>

### <font color='green'>Un dataFrame vacío</font>

En ocasiones, podemos necesitar definir un dataFrame vacío.

In [51]:
dfn=pd.DataFrame()
dfn

Empty DataFrame
Columns: []
Index: []

### <font color='green'>A partir de una lista de filas</font>

In [52]:
lista = [ [1, 'a', True], [2, 'b', False], [3, 'c', True] ]
columnas = ['columna_1', 'columna_2', 'columna_3']

df2 = pd.DataFrame(lista, columns=columnas)
df2

   columna_1 columna_2  columna_3
0          1         a       True
1          2         b      False
2          3         c       True

![manos.png]()**¡Manos a la obra!**

- Crea Dataframes a partir de tus propias listas.
- Prueba lo que ocurre si las listas con las que intentas crear el DataFrame no tienen la misma cantidad de elementos.

In [53]:
data = [['Chile','Santiago','Español'],['Argentina','BA','Español'],['Brasil','Brasilia','Portugues']]
columnas2 = ['Pais','Capital','Idioma']

info_paises = pd.DataFrame(data, columns=columnas2)

info_paises.head(5)

        Pais   Capital     Idioma
0      Chile  Santiago    Español
1  Argentina        BA    Español
2     Brasil  Brasilia  Portugues

In [56]:
data = [['Chile','Santiago','Español'],['Argentina','BA','Español'],['Brasil','Brasilia','Portugues','Sao Paulo'],[]]
columnas2 = ['Pais','Capital','Idioma','Capital2']

info_paises = pd.DataFrame(data, columns=columnas2)

info_paises.head(5)

        Pais   Capital     Idioma   Capital2
0      Chile  Santiago    Español       None
1  Argentina        BA    Español       None
2     Brasil  Brasilia  Portugues  Sao Paulo
3       None      None       None       None

### <font color='green'>A partir de un diccionario</font>

In [62]:
import pandas as pd

datos = {'nombre': ['Juan', 'María', 'Pedro','Matias'],
         'edad': [25, 30, 40,31],
         'ciudad': ['Bogotá', 'Medellín', 'Cali','Santiago']}

df3 = pd.DataFrame(datos) ### cuando se crean dataframes desde diccionarios siemrpe tiene que haber datos
df3

   nombre  edad    ciudad
0    Juan    25    Bogotá
1   María    30  Medellín
2   Pedro    40      Cali
3  Matias    31  Santiago

### <font color='green'>A partir de una lista de diccionarios</font>

In [64]:
datos = [{'nombre': 'Juan', 'edad': 25, 'ciudad': 'Bogotá'},
         {'nombre': 'María', 'edad': 30, 'ciudad': 'Medellín'},
         {'nombre': 'Pedro', 'edad': 40, 'ciudad': 'Cali'}]

df4 = pd.DataFrame(datos)
df4

  nombre  edad    ciudad
0   Juan    25    Bogotá
1  María    30  Medellín
2  Pedro    40      Cali

### <font color='green'>A partir de un NumPy Array</font>

In [68]:
import numpy as np

arr = np.array([[1, 2],
                [3, 4],
                [5,6],
                 [7,8]])
df5 = pd.DataFrame(arr, columns=['A', 'B'])
df5

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

## <font color='green'>Operaciones y métodos en DataFrames</font>

###  <font color='green'>Crear nuevas columnas</font>

Recordando los diccionarios de Python, cuando agregamos nuevas claves lo hacemos de la siguiente forma:

In [69]:
# Creamos un diccionario con un solo par clave-valor, que es una lista en nuestro caso.
diccionario_dias = {"dias_laborales": ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"]}

print(diccionario_dias)

# Asignamos un nuevo par clave-valor.
diccionario_dias["dias_no_laborales"] =  ["Sábado", "Domingo"]

print(diccionario_dias)

{'dias_laborales': ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']}
{'dias_laborales': ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'], 'dias_no_laborales': ['Sábado', 'Domingo']}

Cuando agregamos una nueva columna a un **DataFrame**, lo hacemos de la misma manera **pero** con una importante diferencia: **la columna que se agregue al DataFrame debe tener tantos valores como filas haya en el DataFrame!**

Veamos un ejemplo:

In [73]:
prueba = pd.DataFrame(diccionario_dias)
prueba

ValueError: All arrays must be of the same length

In [70]:
df_dias = pd.DataFrame({"dias_laborales": ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"]})
df_dias

  dias_laborales
0          Lunes
1         Martes
2      Miércoles
3         Jueves
4        Viernes

In [72]:
df_dias["dias_no_laborales"] = ["Sábado", "Domingo","","",""] ## cree una nueva columna
df_dias

  dias_laborales dias_no_laborales
0          Lunes            Sábado
1         Martes           Domingo
2      Miércoles
3         Jueves
4        Viernes

Tuvimos que agregar tres "strings vacíos", para que la lista "dias_no_laborales" tenga la misma cantidad de elementos que "dias_laborales".

![manos.png]() **¡Manos a la obra!**

Verifica lo que ocurre si solo se agrega la lista con dos días.

In [ ]:
## da error

#### <font color='green'>Nuevas columnas con operaciones</font>

Podemos crear nuevas columnas como resultado de alguna operación sobre una columna o entre columnas.

In [74]:
df_nombres = pd.DataFrame({"nombres": ["Juan", "Pedro", "Daniela", "Marta", "Alejandra"]})
df_nombres

     nombres
0       Juan
1      Pedro
2    Daniela
3      Marta
4  Alejandra

Vamos a agregar prefijos a cada valor de cada columna, como se muestra:

In [ ]:
#aqui la + cuando se estan conjugando comunas de texto. concatena

In [76]:
df_nombres["nombres_prefijo_version_1"] = "Sr. " + df_nombres['nombres']
df_nombres["nombres_prefijo_version_2"] = ["Sr. ", "Sr. ", "Sra. ", "Sra. ", "Sra. "] + df_nombres['nombres']
df_nombres

     nombres nombres_prefijo_version_1 nombres_prefijo_version_2
0       Juan                  Sr. Juan                  Sr. Juan
1      Pedro                 Sr. Pedro                 Sr. Pedro
2    Daniela               Sr. Daniela              Sra. Daniela
3      Marta                 Sr. Marta                Sra. Marta
4  Alejandra             Sr. Alejandra            Sra. Alejandra

Analiza las columnas creadas, y explica sus diferencias.<br>

Podemos agregar una columna, además, generando una lista de valores aleatorios.

In [77]:
import numpy as np
np.random.randint(18, 100, 5)

array([59, 48, 93, 84, 21])

In [78]:
import numpy as np
df_nombres["edad"] = np.random.randint(18, 100, 5)
df_nombres

     nombres nombres_prefijo_version_1 nombres_prefijo_version_2  edad
0       Juan                  Sr. Juan                  Sr. Juan    86
1      Pedro                 Sr. Pedro                 Sr. Pedro    68
2    Daniela               Sr. Daniela              Sra. Daniela    79
3      Marta                 Sr. Marta                Sra. Marta    40
4  Alejandra             Sr. Alejandra            Sra. Alejandra    91

![manos.png]() **¡Manos a la obra!**

En el dataFrame anterior, a partir de la edad, inserta una columna que incluya el año de nacimiento (considerando que todos ya estuvieron de cumpleaños)

In [81]:
#Escribe tu código aquí
df_nombres['year_birth'] = 2024 - df_nombres['edad']
df_nombres


import datetime as dt

hoy = dt.datetime.now()

actual_year=hoy.year

df_nombres['year_birth2'] = actual_year - df_nombres['edad']

df_nombres

,nombres,nombres_prefijo_version_1,nombres_prefijo_version_2,edad,year_birth,year_birth2
0,Juan,Sr. Juan,Sr. Juan,86,1938,1938
1,Pedro,Sr. Pedro,Sr. Pedro,68,1956,1956
2,Daniela,Sr. Daniela,Sra. Daniela,79,1945,1945
3,Marta,Sr. Marta,Sra. Marta,40,1984,1984
4,Alejandra,Sr. Alejandra,Sra. Alejandra,91,1933,1933

## <font color='green'>Combinación de DataFrames</font>

Podemos combinar dos DataFrames en un proceso similar a la operación JOIN, de tablas en SQL.

Con Python, utilizamos **pd.concat()**, que recibe una lista con DataFrames que deben tener las mismas columnas.

In [ ]:
df1 = pd.DataFrame({"mes": "enero", "ventas":np.random.randint(1,100, 5)})
df1

     mes  ventas
0  enero      62
1  enero       7
2  enero      66
3  enero      41
4  enero      16

In [ ]:
df2 = pd.DataFrame({"mes": "febrero", "ventas":np.random.randint(1,100, 5)})
df2

       mes  ventas
0  febrero      15
1  febrero      83
2  febrero      79
3  febrero      59
4  febrero      23

In [ ]:
df3 = pd.concat([df1, df2])
df3

       mes  ventas
0    enero      62
1    enero       7
2    enero      66
3    enero      41
4    enero      16
0  febrero      15
1  febrero      83
2  febrero      79
3  febrero      59
4  febrero      23

### <font color='green'>Reindexando</font>

Podemos observar que los indices quedaron duplicados y desordenados, por lo que para evitar confusiones se recomienda reiniciar el indice de las filas luego de hacer Uniones de este estilo.

In [ ]:
df3 = df3.reset_index(drop=True) #¿Qué ocurre si no ponemos "drop=True" (que es el valor por defecto)?
df3

       mes  ventas
0    enero      62
1    enero       7
2    enero      66
3    enero      41
4    enero      16
5  febrero      15
6  febrero      83
7  febrero      79
8  febrero      59
9  febrero      23

In [ ]:
df4 = pd.DataFrame({"mes": "marzo", "ventas": np.random.randint(1,100, 1)})
df4

     mes  ventas
0  marzo      24

Para simplificar, utilizamos el parametro **ignore_index** del método **concat** al realizar la union de DataFrames. De esta manera, el indice se reiniciará automáticamente.

In [ ]:
df5 = pd.concat([df3, df4], ignore_index = True)
df5

        mes  ventas
0     enero      62
1     enero       7
2     enero      66
3     enero      41
4     enero      16
5   febrero      15
6   febrero      83
7   febrero      79
8   febrero      59
9   febrero      23
10    marzo      24

# <font color='green'>Explorando un DataFrame</font>

###  <font color='green'>Conteos</font>

El método **value_counts()** nos permite hacer un recuento de los valores de cada columna. Considerando nuestro DataFrame tenemos

In [83]:
df['anos_experiencia'].value_counts()

anos_experiencia
4     6
2     6
3     5
5     4
8     3
6     2
7     2
9     1
1     1
0     1
11    1
Name: count, dtype: int64

Podemos ver que en la columna izquierda aparecen los valores distintos de la columna 'anos_experiencia', y en la izquierda la cantidad de veces que dicho valor aparece repetido.

Por otro lado, si quisieramos obtener solamente los valores de una columna **sin realizar el conteo**, podemos utilizar el método **unique()**.

In [ ]:
df['anos_experiencia'].unique()

array([ 6,  4,  3,  2,  7,  5,  8,  9,  1,  0, 11])

### <font color='green'>Estadística descriptiva</font>

El método **describe** nos permite obtener varias medidas estadisticas en un solo paso.

In [ ]:
df.describe()

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia
count,32.000000,32.00000,32.00000,32.000000,32.000000,32.00000,32.00000,32.000000
mean,29.968750,71.06250,174.78125,86.187500,88.718750,85.37500,86.46875,4.437500
std,5.095756,5.89115,7.48648,4.999597,4.025999,4.46311,4.28790,2.539209
min,21.000000,61.00000,162.00000,77.000000,80.000000,77.00000,77.00000,0.000000
25%,27.000000,67.25000,168.75000,82.000000,85.750000,81.75000,84.75000,2.750000
50%,29.000000,71.50000,175.00000,87.000000,89.500000,85.50000,87.00000,4.000000
75%,31.250000,75.25000,180.25000,90.000000,92.000000,89.00000,89.25000,6.000000
max,44.000000,81.00000,190.00000,94.000000,95.000000,93.00000,93.00000,11.000000

## <font color='green'>Orden, Ranking e indexación de un DataFrame</font>

Consideremos el DataFrame original, de los astronautas

In [ ]:
df = pd.read_csv("resumen_resultados_astronautas.csv")
df = df.set_index('nombre')

Vamos a ordenarlos por edad. Observa la opción **ascending**

In [ ]:
df.sort_values(by = 'edad', ascending = False)

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Clara Arias,44,63,162,77,87,88,84,11,No
José París,40,68,163,78,85,85,77,8,No
Leonardo Magrina,39,65,171,79,92,90,85,8,No
Óliver Fonseca,38,80,164,77,88,90,89,9,No
Sophie González,36,75,176,85,82,84,80,7,No
Fátima Varela,33,73,182,91,90,91,88,5,Si
Consuela Arboleda,33,77,188,94,83,89,93,8,Si
Alana Morillo,32,75,180,93,88,78,89,6,Si
Regina Cicerón,31,76,183,89,87,83,90,7,Si
Cristóbal Miralles,31,72,174,88,91,86,92,6,No
Estefania Manzanares,31,79,179,89,82,85,81,5,Si
Valentina Tasis,30,65,175,90,91,85,92,2,No
Perla Alcocer,30,71,168,86,92,82,88,3,No
Álvaro Espina,30,76,180,90,84,87,82,4,Si
Patricio Encarnación,30,81,190,93,86,88,91,4,Si
Nicolás Cambeiro,29,68,175,88,90,81,90,2,No
Pablo Capmany,29,69,171,82,94,80,88,4,No
María José Franco,29,70,175,87,90,80,89,2,No
Sofía Puig,29,80,185,85,80,90,91,3,Si
Alberto Graciani,28,62,163,81,93,77,85,5,No
María Juderías,28,78,182,88,85,87,92,5,Si
Paloma Berganza,28,62,174,87,85,87,78,3,Si
Fátima Tafalla,27,68,167,82,95,81,87,4,Si
Kevin Pareja,27,61,177,85,90,87,79,2,Si
Pablo Cotilla,27,75,178,86,87,85,89,2,Si
Emanuel Gálvez,27,73,181,84,89,84,87,3,Si
Daniel Sánchez,26,63,167,80,93,78,85,4,No
Amaya de la Cruz,26,64,170,80,94,79,86,4,No
Fernando Gálvez,25,72,168,88,88,89,83,2,Si
Christopher Berganza,23,70,173,92,93,92,85,1,Si
Samuel Gálvez,22,74,183,91,91,91,86,3,Si
Alexia Gaos,21,69,169,93,94,93,86,0,Si

![manos.png]() **¡Manos a la obra!**

- Modifica los parámetros de la parámetros del comando anterior.
- Ordena alfabéticamente por nombre, de manera ascendente.

Podemos obtener el ranking de los valores de una columna, con el método **rank()**

In [ ]:
df['edad'].rank(ascending=False)

nombre
Alana Morillo            8.0
Fátima Tafalla          24.5
Sofía Puig              17.5
Valentina Tasis         13.5
Regina Cicerón          10.0
Amaya de la Cruz        27.5
María Juderías          21.0
Perla Alcocer           13.5
Consuela Arboleda        6.5
María José Franco       17.5
Emanuel Gálvez          24.5
Alberto Graciani        21.0
Patricio Encarnación    13.5
Cristóbal Miralles      10.0
Pablo Cotilla           24.5
Pablo Capmany           17.5
Nicolás Cambeiro        17.5
Daniel Sánchez          27.5
Samuel Gálvez           31.0
José París               2.0
Kevin Pareja            24.5
Estefania Manzanares    10.0
Óliver Fonseca           4.0
Christopher Berganza    30.0
Álvaro Espina           13.5
Leonardo Magrina         3.0
Fernando Gálvez         29.0
Sophie González          5.0
Alexia Gaos             32.0
Fátima Varela            6.5
Clara Arias              1.0
Paloma Berganza         21.0
Name: edad, dtype: float64

## <font color='green'>Indexación de un DataFrame</font>

Indexar un DataFrame es una operación fundamental en Pandas, que nos permite seleccionar un conjunto de datos específico del DataFrame. La indexación permite filtrar, ordenar y manipular los datos de una manera más fácil y rápida. Distinguiremos esencialmente tres indexaciones fundamentales:

- **Indexación por posición:** seleccionar una o varias filas y/o columnas del DataFrame mediante sus índices numéricos.
- **Indexación por etiquetas:** seleccionar una o varias filas y/o columnas del DataFrame mediante sus etiquetas o nombres.
- **Indexación booleana:** seleccionar filas del DataFrame que cumplan una o varias condiciones lógicas.

De estas tres, la **indexación booleana** puede resultar más cómoda para el analisis de datos ya que permite hacer filtros basados en condiciones aplicados a la **Data** en lugar de a los **Indices**.

### <font color='green'>Indexación por posiciones</font>

Podemos seleccionar valores específicos del DataFrame utilizando sus posiciones con **iloc**. Para ello, podemos entregar una lista "fila(s) - columna(s)", como se muestra:

In [ ]:
df

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Alana Morillo,32,75,180,93,88,78,89,6,Si
Fátima Tafalla,27,68,167,82,95,81,87,4,Si
Sofía Puig,29,80,185,85,80,90,91,3,Si
Valentina Tasis,30,65,175,90,91,85,92,2,No
Regina Cicerón,31,76,183,89,87,83,90,7,Si
Amaya de la Cruz,26,64,170,80,94,79,86,4,No
María Juderías,28,78,182,88,85,87,92,5,Si
Perla Alcocer,30,71,168,86,92,82,88,3,No
Consuela Arboleda,33,77,188,94,83,89,93,8,Si
María José Franco,29,70,175,87,90,80,89,2,No
Emanuel Gálvez,27,73,181,84,89,84,87,3,Si
Alberto Graciani,28,62,163,81,93,77,85,5,No
Patricio Encarnación,30,81,190,93,86,88,91,4,Si
Cristóbal Miralles,31,72,174,88,91,86,92,6,No
Pablo Cotilla,27,75,178,86,87,85,89,2,Si
Pablo Capmany,29,69,171,82,94,80,88,4,No
Nicolás Cambeiro,29,68,175,88,90,81,90,2,No
Daniel Sánchez,26,63,167,80,93,78,85,4,No
Samuel Gálvez,22,74,183,91,91,91,86,3,Si
José París,40,68,163,78,85,85,77,8,No
Kevin Pareja,27,61,177,85,90,87,79,2,Si
Estefania Manzanares,31,79,179,89,82,85,81,5,Si
Óliver Fonseca,38,80,164,77,88,90,89,9,No
Christopher Berganza,23,70,173,92,93,92,85,1,Si
Álvaro Espina,30,76,180,90,84,87,82,4,Si
Leonardo Magrina,39,65,171,79,92,90,85,8,No
Fernando Gálvez,25,72,168,88,88,89,83,2,Si
Sophie González,36,75,176,85,82,84,80,7,No
Alexia Gaos,21,69,169,93,94,93,86,0,Si
Fátima Varela,33,73,182,91,90,91,88,5,Si
Clara Arias,44,63,162,77,87,88,84,11,No
Paloma Berganza,28,62,174,87,85,87,78,3,Si

In [ ]:
df.iloc[2,3] #cambia los valores y observa los resultados. ¿Qué significa cada valor?

85

Observa que podemos utilizar listas de filas y columnas

In [ ]:
df.iloc[[0,1,2,3,4,5,6], [0,1,2,3]]

                  edad  peso  altura  evaluacion_fisica
nombre
Alana Morillo       32    75     180                 93
Fátima Tafalla      27    68     167                 82
Sofía Puig          29    80     185                 85
Valentina Tasis     30    65     175                 90
Regina Cicerón      31    76     183                 89
Amaya de la Cruz    26    64     170                 80
María Juderías      28    78     182                 88

E incluso, rangos de filas y columnas

In [ ]:
df.iloc[0:5, 0:4]

                 edad  peso  altura  evaluacion_fisica
nombre
Alana Morillo      32    75     180                 93
Fátima Tafalla     27    68     167                 82
Sofía Puig         29    80     185                 85
Valentina Tasis    30    65     175                 90
Regina Cicerón     31    76     183                 89

### <font color='green'>Indexación por etiquetas</font>

Podemos seleccionar valores específicos por etiqueta, gracias a **loc**

In [ ]:
df.loc[["Alana Morillo", "Fátima Tafalla", "Sofía Puig"], ["edad", "peso", "altura"]]

                edad  peso  altura
nombre
Alana Morillo     32    75     180
Fátima Tafalla    27    68     167
Sofía Puig        29    80     185

Podemos utilizar también rangos de etiqueta.

In [ ]:
df.loc["Alana Morillo":"Regina Cicerón", "edad":"altura"]

                 edad  peso  altura
nombre
Alana Morillo      32    75     180
Fátima Tafalla     27    68     167
Sofía Puig         29    80     185
Valentina Tasis    30    65     175
Regina Cicerón     31    76     183

In [ ]:
df.iloc[[filas],[columnas]] ## selecciona un espacio en el df

df.loc[[index],[columnas]] ## seleccionas un espacio de un DF

### <font color='green'>Indexación booleana</font>

Podemos seleccionar datos poniendo condiciones, que podemos combinar utilizando los operadores booleanos & (and) y | (or). Notemos que las condiciones deben ponerse entre paréntesis, cuando haya más de una.

In [ ]:
df[condiciones]

df[(condicion1 & condicion2 | condicion3))

   & = and
   | = or

df[(df['edad'] >= 30) & (df['anos_experiencia'] >=5)]

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Alana Morillo,32,75,180,93,88,78,89,6,Si
Regina Cicerón,31,76,183,89,87,83,90,7,Si
Consuela Arboleda,33,77,188,94,83,89,93,8,Si
Cristóbal Miralles,31,72,174,88,91,86,92,6,No
José París,40,68,163,78,85,85,77,8,No
Estefania Manzanares,31,79,179,89,82,85,81,5,Si
Óliver Fonseca,38,80,164,77,88,90,89,9,No
Leonardo Magrina,39,65,171,79,92,90,85,8,No
Sophie González,36,75,176,85,82,84,80,7,No
Fátima Varela,33,73,182,91,90,91,88,5,Si
Clara Arias,44,63,162,77,87,88,84,11,No

![manos.png]() **¡Manos a la obra!**

¡Prueba con más combinaciones de condiciones!

### <font color='green'>El método query()</font>

El método llamado **query()** nos permite realizar una indexación booleana más sencilla:

In [ ]:
df.query("edad <= 21 or anos_experiencia == 0") ## es como un where a la hora de hacer filtros

,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
nombre,,,,,,,,,
Alexia Gaos,21,69,169,93,94,93,86,0,Si

Como puedes ver:

- No son necesarios los parentesis **().**
- Podemos utilizar **"and"** y **"or"** en vez de **"&"** y **"|"**.

## <font color='green'>Exportando un DataFrame</font>

Podemos exportar fácilmente un DataFrame a un archivo csv (u otro formato, como xls) mediante el método **to_csv**. Su uso es el siguiente:

In [ ]:
df.query.to_csv("nombre.csv", index = False, sep = ',', header = False, columns = ['edad','evaluacion_adaptativa'])

los parámetros de este método son:

  - **nombre.cvs:** corresponde al nombre del archivo que exportaremos (quedará en la misma carpeta que nuestro archivo de Jupyter o Python.
  - **index:** agrega o no una columna adicional de índice. Por defecto es True, por lo que denbemos especificar si no la queremos.
  - **sep:** corresponde al separador de datos. En nuestro caso, serán comas.
  - **header:** similar a index, agrega o no la cabecera.
  - **columns**: lista de columnas que queremos que se exporten (si no precisamos, se exportarán todas). Podemos indicar las columnas utilizando sus etiquetas (como en nuestro ejemplo) o utilizando posiciones. En tal caso usamos columns=df.columns[[0, 2]]

# <font color='green'>Ejercicio: GAMEBOY</font>

En este ejercicio importaremos los datos desde el archivo: **best-selling-gameboy.csv**

- Generar dos DataFrames, uno de juegos de Gameboy Color y otro de Gameboy.
- Rankear los top 10 juegos con más ventas de ambos dataframes.
- Responder las siguientes preguntas:
    - ¿Hay más juegos de Gameboy Color o Juegos de Gameboy?
    - ¿Cuáles fueron los 3 juegos menos vendidos del Publisher Capcom para ambas plataformas?

In [ ]:
# Leemos el archivo y generamos un DataFrame.
df = pd.read_csv("best-selling-gameboy.csv")
df.head()

,Game,Developer(s),Publisher,Platform,Release date,Sales
0,Pokémon Red / Green / Blue / Yellow,Game Freak,Nintendo,Game Boy,1996-02-27,46020000
1,Tetris,Nintendo R&D1,Nintendo,Game Boy,1989-06-14,35000000
2,Pokémon Gold / Silver / Crystal,Game Freak,Nintendo,Game Boy Color,1999-11-21,29490000
3,Super Mario Land,Nintendo R&D1,Nintendo,Game Boy,1989-04-21,18140000
4,Super Mario Land 2: 6 Golden Coins,Nintendo R&D1,Nintendo,Game Boy,1992-10-21,11180000

In [ ]:
# Dividiremos el DataFrame en dos.
df_game_boy = df.query("Platform == 'Game Boy'")
df_game_boy_color = df.query("Platform == 'Game Boy Color'")

In [ ]:
# Ordenamos por ventas de mayor a menor e indexamos las 10 primeras posiciones.
df_game_boy.sort_values(by = 'Sales', ascending = False).iloc[:10]

,Game,Developer(s),Publisher,Platform,Release date,Sales
0,Pokémon Red / Green / Blue / Yellow,Game Freak,Nintendo,Game Boy,1996-02-27,46020000
1,Tetris,Nintendo R&D1,Nintendo,Game Boy,1989-06-14,35000000
3,Super Mario Land,Nintendo R&D1,Nintendo,Game Boy,1989-04-21,18140000
4,Super Mario Land 2: 6 Golden Coins,Nintendo R&D1,Nintendo,Game Boy,1992-10-21,11180000
5,Dr. Mario,Nintendo R&D1,Nintendo,Game Boy,1990-07-27,5340000
7,Wario Land: Super Mario Land 3,Nintendo R&D1,Nintendo,Game Boy,1994-01-21,5190000
8,Kirby's Dream Land,HAL Laboratory,Nintendo,Game Boy,1992-04-27,5130000
11,Donkey Kong Land,Rare,Nintendo,Game Boy,1995-06-26,3910000
12,The Legend of Zelda: Link's Awakening,Nintendo EAD,Nintendo,Game Boy,1993-06-06,3830000
14,F-1 Race,Nintendo R&D1,Nintendo,Game Boy,1990-11-09,3410000

In [ ]:
# Ordenamos por ventas de mayor a menor e indexamos las 10 primeras posiciones.
df_game_boy_color.sort_values(by = 'Sales', ascending = False).iloc[:10]

,Game,Developer(s),Publisher,Platform,Release date,Sales
2,Pokémon Gold / Silver / Crystal,Game Freak,Nintendo,Game Boy Color,1999-11-21,29490000
6,Pokémon Pinball,Jupiter,Nintendo,Game Boy Color,1999-04-14,5310000
9,Super Mario Bros. Deluxe,Nintendo EAD,Nintendo,Game Boy Color,1999-05-01,5070000
10,The Legend of Zelda: Oracle of Seasons and Ora...,Flagship,Nintendo,Game Boy Color,2001-02-27,3960000
13,Pokémon Trading Card Game,Hudson Soft and Creatures Inc.,Nintendo,Game Boy Color,1998-12-18,3720000
18,Yu-Gi-Oh! Duel Monsters 4: Battle of Great Due...,Konami,Konami,Game Boy Color,2000-12-07,2500000
19,Yu-Gi-Oh! Dark Duel Stories,Konami,Konami,Game Boy Color,2000-07-13,2396518
22,Dragon Warrior Monsters,Tose,Enix,Game Boy Color,1998-09-25,2350000
23,The Legend of Zelda: Link's Awakening DX,Nintendo EAD,Nintendo,Game Boy Color,1998-12-12,2220000
24,Wario Land 3,Nintendo R&D1,Nintendo,Game Boy Color,2000-03-21,2200000

In [ ]:
df['Platform'].value_counts()

Game Boy          48
Game Boy Color    18
Name: Platform, dtype: int64

**R:** Hay más juegos de Game Boy que juegos de Game Boy Color.

In [ ]:
df_game_boy.query("Publisher == 'Capcom'").sort_values(by="Sales", ascending = False).iloc[-3:]

           Game        Developer(s) Publisher  Platform Release date    Sales
56  Mega Man II  Japan System House    Capcom  Game Boy   1991-12-20  1000000
58    Star Wars        NMS Software    Capcom  Game Boy   1992-11-01  1000000
59  DuckTales 2       Make Software    Capcom  Game Boy   1993-04-23  1000000

In [ ]:
df_game_boy_color.query("Publisher == 'Capcom'").sort_values(by="Sales", ascending = False).iloc[-3:]

Empty DataFrame
Columns: [Game, Developer(s), Publisher, Platform, Release date, Sales]
Index: []

![manos.png]() **¡Manos a la obra!**

En este ejercicio importaremos los datos desde el archivo: **best-selling-nintendo64.csv**

- Encontrar todos los juegos de Mario, reiniciar su indice y guardar los 5 más vendidos en un archivo **"top5_mario.csv".**

In [ ]:
# Resuelve utilizando esta celda, antes de verificar con la solución



df1 = df.query("IMX > 18.5 and IMC < 24,9")


df['califica'] = "Si"



df.to_csv('nombre',sep=',')

In [ ]:
df = pd.read_csv("best-selling-nintendo64.csv")
df.head()

,Game,Developer(s),Publisher(s),Release date,Sales
0,Super Mario 64,Nintendo EAD,Nintendo,1996-06-23,11910000
1,Mario Kart 64,Nintendo EAD,Nintendo,1996-12-14,9870000
2,GoldenEye 007,Rare,Nintendo,1997-08-25,8090000
3,The Legend of Zelda: Ocarina of Time,Nintendo EAD,Nintendo,1998-11-21,7600000
4,Super Smash Bros.,HAL Laboratory,Nintendo,1999-01-21,5550000

In [ ]:
df_mario = df[df['Game'].str.contains("Mario")]
df_mario

,Game,Developer(s),Publisher(s),Release date,Sales
0,Super Mario 64,Nintendo EAD,Nintendo,1996-06-23,11910000
1,Mario Kart 64,Nintendo EAD,Nintendo,1996-12-14,9870000
16,Mario Party,Hudson Soft,Nintendo,1998-12-18,2700000
20,Mario Party 2,Hudson Soft,Nintendo,1999-12-17,2480000
21,Mario Tennis,Camelot Software Planning,Nintendo,2000-07-21,2320000
25,Mario Party 3,Hudson Soft,Nintendo,2000-12-07,1910000
33,Mario Golf,Camelot Software Planning,Nintendo,1999-06-11,1470000
35,Paper Mario,Intelligent Systems,Nintendo,2000-08-11,1370000

In [ ]:
df_mario = df_mario.reset_index(drop=True)
df_mario

,Game,Developer(s),Publisher(s),Release date,Sales
0,Super Mario 64,Nintendo EAD,Nintendo,1996-06-23,11910000
1,Mario Kart 64,Nintendo EAD,Nintendo,1996-12-14,9870000
2,Mario Party,Hudson Soft,Nintendo,1998-12-18,2700000
3,Mario Party 2,Hudson Soft,Nintendo,1999-12-17,2480000
4,Mario Tennis,Camelot Software Planning,Nintendo,2000-07-21,2320000
5,Mario Party 3,Hudson Soft,Nintendo,2000-12-07,1910000
6,Mario Golf,Camelot Software Planning,Nintendo,1999-06-11,1470000
7,Paper Mario,Intelligent Systems,Nintendo,2000-08-11,1370000

In [ ]:
df_mario.sort_values(by = 'Sales', ascending = False).to_csv("top5_mario.csv", index = False)

In [ ]:
.head() ###
df.columns ## muestra las columnas
df.dtypes ## tipo de datos por columna
df.concat() ## hacia un unnion o inserta la tabla abajo o un tablas
df.set_index()
df.reset_index()
df['columna'].value_counts() ## cuenta los valores unicos de una columna
df[columna].unique() ### muestra los valores unicos
df.query() ## te permite hacer filtros tipo where con lenguaje sql
df.iloc[[filas],[columnas]]
df.loc[[index],[columnas]]
df.sort_values() ## ordernar
pd.read_csv() ## leer un csv
df.to_csv() ## escribir un csv