<a href="https://colab.research.google.com/github/eliot28/desafioLatam/blob/main/Tutoria_2_estadistica_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
### ejemplos de condiciones y probabilidades
import pandas as pd
import numpy as np

df = pd.read_csv('worldcup2014.csv')
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [2]:
df.columns

Index(['team', 'continent', 'group', 'group_pos', 'cantidad_juegos',
       'juegos_ganados', 'juegos_empatados', 'juegos_perdidos', 'goles_favor',
       'goles_contra', 'goles_diferencia', 'puntos', 'clasificado'],
      dtype='object')

In [3]:
df['continent'].value_counts()

continent
europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: count, dtype: int64

In [4]:
df['group'].value_counts()

group
A    4
B    4
C    4
D    4
E    4
F    4
G    4
H    4
Name: count, dtype: int64

In [5]:
df['juegos_ganados'].value_counts()

juegos_ganados
1    11
0     9
2     8
3     4
Name: count, dtype: int64

In [6]:
df['clasificado'].value_counts()

clasificado
1    16
0    16
Name: count, dtype: int64

In [14]:
#pertenecer a África y clasificar a segunda ronda
africa = df['continent'] == 'africa'
clasificar = df['clasificado'] == 1
total = len(df)
print(total)

32

In [8]:
p_africa_y_clasidicado = (africa & clasificar).sum()/total
print(p_africa_y_clasidicado)

0.0625

In [15]:
#pertenecer a Norteamérica o clasificar a segunda ronda
norteamerica = df['continent'] == 'northamerica'
p_norteamerica_o_clasifique = (norteamerica | clasificar).sum()/total
print(p_norteamerica_o_clasifique)

0.53125

In [16]:
df['juegos_ganados'].value_counts()

juegos_ganados
1    11
0     9
2     8
3     4
Name: count, dtype: int64

In [19]:
#pertenecer a África, si se sabe que ganó al menos un partido
gano_1_partido = df['juegos_ganados'] >= 1

p_africa_gane_1_partido = (africa & gano_1_partido).sum()/total
print(p_africa_gane_1_partido)

0.09375