<a href="https://colab.research.google.com/github/eliot28/desafioLatam/blob/main/Tutoria_estadistica_2_g82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

df = pd.read_csv('exams.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [6]:
import random

probabilidad = random.random()

## experimento aleatorio
print(probabilidad)

0.11891039995729669

In [8]:
## value_counts() entrega series, ojo no suma nulos

df['gender'].value_counts()

gender
male      517
female    483
Name: count, dtype: int64

In [10]:
df.value_counts().head()

gender  race/ethnicity  parental level of education  lunch         test preparation course  math score  reading score  writing score
male    group E         associate's degree           standard      completed                100         100            100              2
female  group A         associate's degree           free/reduced  completed                45          72             66               1
male    group C         bachelor's degree            standard      none                     60          46             51               1
                        associate's degree           standard      none                     77          80             80               1
                                                                                            78          71             67               1
Name: count, dtype: int64

In [12]:
df[['gender','race/ethnicity']].value_counts()

gender  race/ethnicity
male    group C           169
female  group C           154
male    group D           136
female  group D           126
        group B           114
male    group B            91
        group E            79
female  group E            52
male    group A            42
female  group A            37
Name: count, dtype: int64

In [14]:
type(df['gender'].value_counts())

pandas.core.series.Series

In [15]:
df['gender'].value_counts()[0]

517

In [16]:
df['gender'].value_counts()[1]

483

In [17]:
df['gender'].value_counts()['male']

517

In [18]:
df['gender'].value_counts()['female']

483

In [19]:
####
df['gender'].value_counts(dropna=False)['female']

483

In [20]:
condicion_masculino = df['gender'] == 'male'  # A
condicion_femenino = df['gender'] == 'female'  # B

In [22]:
A_union_B = (condicion_masculino | condicion_femenino).sum()  # or
print(A_union_B)

1000

In [24]:
A_inter_B = (condicion_masculino & condicion_femenino).sum() # and
print(A_inter_B)

0